.btn {
  width: 100%;
  height: 8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: $tabu-red;
  color: white;
  text-transform: uppercase;
  font-size: 2.3rem;
  transition: all ease-in-out 0.3s;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
  }
}
