.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 5px dashed rgba($tabu-red, 0.8);
  border-radius: 10px;
  padding: 4rem 8rem;
  color: $grey;

  @include respond(phone-port) {
    padding: 4rem 3rem;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__container {
  }

  &__label {
    align-self: flex-start;
    margin: 1rem 0;
  }

  &__input {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #818181;
    border-radius: 5px;
    font-size: 1.8rem;
    width: 100%;

    &:valid {
      border: 1px solid green;
    }

    &:invalid {
      border: 1px solid $tabu-red;
    }

    &:focus {
      outline: none;
    }
  }

  &__cta-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1.5rem));
    grid-gap: 3rem;

    @include respond(phone-port) {
      grid-template-columns: 100%;
    }
  }

  .btn {
    font-size: 1.8rem;
    display: block;
    width: 100%;
  }
}
