.nav {
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    display: none;
  }

  &__logo {
    width: 6rem;
    padding: 2rem 0 2rem 4rem;
  }

  &__items-container {
    margin: 0 auto;
    transform: translateX(-8rem);

    @include respond(tab-land) {
      transform: translateX(-5rem);
    }

    @include respond(tab-port) {
      transform: translateX(0);
    }
  }

  &__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    width: 100%;
  }

  &__item {
    text-transform: uppercase;
    margin: 0 1rem;
    min-width: max-content;
  }

  &__link,
  &__link:visited {
    color: grey;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $dark-grey;
    }
  }

  &--responsive {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    @include respond(tab-port) {
      display: flex;
    }

    &__logo {
      width: 8rem;
      margin-bottom: 2rem;
    }

    &__items-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 3rem;
    }

    &__ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      margin: 1rem 0;
    }

    &__svg {
      width: 30px;
    }

    .nav-activator {
      background-color: transparent;
      border: none;
    }
  }
}
