.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 4rem 5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 80%;
    text-align: center;

    @include respond(phone-port) {
      padding: 4rem 2rem;
      width: 65%;
      max-width: 65%;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__paragraph {
    padding: 0.5rem;
  }

  &__coordinates {
    border: 1px solid $tabu-red;
    padding: 2rem 3rem;
    margin-top: 2rem;
    font-weight: bold;
    border-radius: 5px;
    width: max-content;
    min-width: min-content;
    max-width: 80%;
    overflow-wrap: break-word;

    @include respond(phone-port) {
      text-align: left;
      font-size: 1.4rem;
      padding: 2rem 1rem;
      min-width: 90%;
      max-width: 90%;
      width: 90%;
    }
  }

  &__iban {
    //overflow-wrap: break-word;
  }
}
