.tabu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33rem;
  transform: translate(-40rem, 20rem);

  @include respond(laptop) {
    width: 30rem;
    transform: translate(-30rem, 20rem);
  }

  @include respond(tab-land) {
    width: 28rem;
    transform: translate(-15rem, 18rem);
  }

  @include respond(tab-port) {
    width: 20rem;
    transform: translate(-10rem, 20rem);
  }

  @include respond(phone-land) {
    width: 18rem;
    transform: translate(-5rem, 35rem);
  }

  @include respond(phone-port) {
    margin-right: 50%;
    transform: translate(50%, 56rem);
  }

  @include respond(iphone-5) {
    transform: translate(50%, 60rem);
  }
}

.ray {
  position: absolute;
  width: 20rem;
  bottom: 0;
  transform: translateY(25rem);
  margin-left: 25%;

  @include respond(tab-land) {
    margin-left: 18%;
  }

  @include respond(tab-port) {
    margin-left: 10%;
  }

  @include respond(phone-land) {
    margin-left: 6%;
  }

  @include respond(phone-port) {
    transform: translate(-50%, 15rem);
    margin-left: 50%;
  }
}

.melu {
  position: absolute;
  width: 20rem;
  top: 0;
  transform: translate(25rem, 25rem);

  @include respond(tab-port) {
    width: 15rem;
    transform: translate(18rem, 28rem);
  }

  @include respond(phone-port) {
    width: 13rem;
    transform: translate(-50%, 41rem);
    margin-right: 50%;
  }

  @include respond(iphone-5) {
    width: 13rem;
    transform: translate(-50%, 45.5rem);
    margin-right: 50%;
  }
}

.tabu-pirata {
  position: absolute;
  width: 20rem;
  top: 0;
  transform: translate(-47rem, 25rem);

  @include respond(tab-port) {
    width: 15rem;
    transform: translate(-33rem, 28rem);
  }

  @include respond(phone-port) {
    transform: translate(-60%, 70rem);
  }

  @include respond(iphone-5) {
    transform: translate(-60%, 71rem);
  }
}
