.tabu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33rem;
  transform: translate(-40rem, 20rem);
}

.ray {
  position: absolute;
  width: 20rem;
  bottom: 0;
  transform: translateY(25rem);
  margin-left: 25%;
}

.melu {
  position: absolute;
  width: 20rem;
  top: 0;
  transform: translate(25rem, 25rem);
}

.tabu-pirata {
  position: absolute;
  width: 20rem;
  top: 0;
  transform: translate(-47rem, 25rem);
}
