.tabu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33rem;
  margin-right: 10%;
  transform: translate(-50%, -50%);

  @include respond(laptop) {
    width: 30rem;
    transform: translate(-50%, -50%);
  }

  @include respond(tab-land) {
    width: 25rem;
    margin-right: 0;
  }

  @include respond(tab-port) {
    width: 20rem;
    margin-top: 7%;
  }

  @include respond(phone-land) {
    width: 18rem;
  }

  @include respond(phone-port) {
    margin-top: 0;
  }
}

.ray {
  position: absolute;
  width: 20rem;
  bottom: 0;
  transform: translateY(25rem);
  margin-left: 25%;

  @include respond(tab-land) {
    margin-left: 18%;
  }

  @include respond(tab-port) {
    margin-left: 10%;
  }

  @include respond(phone-land) {
    margin-left: 6%;
  }

  @include respond(phone-port) {
    transform: translate(-50%, 15rem);
    margin-left: 50%;
  }
}

.melu {
  position: absolute;
  width: 20rem;
  top: 0;
  right: 5%;

  @include respond(tab-land) {
    right: 0;
    transform: translateX(30%);
  }

  @include respond(tab-port) {
    width: 15rem;
    transform: translateX(-20%);
  }

  @include respond(phone-port) {
    width: 13rem;
    transform: translate(50%, 5rem);
    margin-right: 50%;
  }

  @include respond(iphone-5) {
    transform: translate(50%, 10rem);
  }
}

.tabu-pirata {
  position: absolute;
  width: 20rem;
  top: 0;
  left: 5%;

  @include respond(tab-land) {
    left: 0;
    transform: translateX(-30%);
  }

  @include respond(tab-port) {
    width: 15rem;
    transform: translateX(20%);
  }

  @include respond(phone-port) {
    margin-left: 50%;
    transform: translate(-50%, 35rem);
  }

  @include respond(iphone-5) {
    transform: translate(-50%, 36rem);
  }
}
