// COLORS
$white: #ffffff;
$color-secondary: #901498;
$tabu-red: #b23236;
$grey: #363636;
$dark-grey: #131313;
$light-grey: #f1f1f1;
$super-light-grey: rgba(0, 0, 0, 0.06);
$black: #000000;
$admin-bar-color: #343a40;
$light-black: rgba($black, 0.5);
$placeholder-color: rgba($white, 0.4);
$placeholder-color-black: rgba($black, 0.4);

//FONT FAMILY
$font-secondary: "DINCond", sans-serif;
// FONT-SIZES
$label-font-size: 1.2rem;
$input-font-size: 1.8rem;
$title-font-size: 3.5rem;

$section-width: 45%;

$product-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.3);
$product-shadow-hover: 10px 10px 18px 0px rgba(0, 0, 0, 0.5);
$light-shadow: 0px 8px 15px 0 #c2c2c2;

@mixin font-secondary {
  font-family: $font-secondary;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

@mixin section-header {
  text-align: center;
  padding-bottom: 8rem;
  //color: $tabu-red;
}
