html,
body,
section,
div,
input,
form,
label {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  //font-family: "DIN";
  font-size: 1.6rem;
  font-weight: 200;
  overflow-x: hidden;
  color: $dark-grey;
  font-family: "Nanum Gothic", sans-serif;

  @include respond(tab-port) {
    font-size: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: "StMarieW01-Light", sans-serif;
  font-size: $title-font-size;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 0.1rem;
  line-height: 1.8;
  margin: 0;
}

section {
  width: 100%;
  padding: 8rem 0;
}

a {
  text-decoration: none;
  color: $color-secondary;
}

.cart-holder,
#cart-holder {
  display: none;
}
