.buy {
  text-align: center;
  position: relative;
  background: rgb(255, 207, 153);
  background: linear-gradient(
    90deg,
    rgba(255, 207, 153, 0.9) 0%,
    rgba(255, 251, 114, 0.9) 50%,
    rgba(201, 200, 255, 0.9) 100%
  );
  background-size: 200% 200%;
  background-position: 200%;
  animation: gradient 7s infinite;

  &__intro {
    @include respond(phone-port) {
      padding: 0 1rem;
    }
  }

  .header__price {
    @include respond(tab-port) {
      text-align: center;
    }

    @include respond(phone-port) {
      padding: 18rem 0;
    }
  }

  &__header {
    margin-bottom: 8rem;
  }

  &__form-container {
    background-color: #fff;
    width: 50%;
    margin: 8rem auto 0 auto;
    border-radius: 10px;

    @include respond(laptop) {
      width: 70%;
    }

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(phone-port) {
      width: 98%;
      margin: 3rem auto;
    }
  }

  &__content-container {
    display: block !important;
  }

  &__details {
    margin-top: 1rem;
    @include respond(tab-port) {
      margin-top: 2rem;
    }
  }
}
