.footer {
  background-color: $admin-bar-color;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  @include respond(phone-port) {
    font-size: 1.6rem;
  }

  &__bar {
    padding: 0 2rem;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__copyright-container,
  &__address-container {
    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  &__privacy-container {
    @include respond(tab-port) {
      margin-top: 2rem;
    }
  }

  a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      font-weight: bold;
      transform: scale(1.2);
    }
  }
}
