.game {
  position: relative;

  @include respond(phone-port) {
    padding-top: 15rem;
  }

  .container {
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
  }

  &__header {
    @include section-header;
  }

  &__image {
    width: 60%;
    margin-right: 4rem;
    border-radius: 15px;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 3rem;
    }

    @include respond(phone-land) {
      margin-right: 0;
    }
  }

  &__content {
    display: inline-block;
    width: 40%;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
