.d-none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.line-through {
  text-decoration: line-through;
}

.container {
  width: 65%;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @include respond(laptop) {
    width: 70%;
  }

  @include respond(tab-port) {
    width: 100vw;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

.red {
  color: red;
}
